.contact {
    padding: 10rem 0 0;

    .contacts {
        padding-bottom: 0;
    }

    .block-group {
        display: flex;
        flex-direction: column-reverse;
    }

    .map {
        background-color: $gold;
        height: 25rem;
        margin: 8rem -3rem 0;
    }

    &__row {
        margin: 0 -2rem;

        &:first-child {
            margin-bottom: 6rem;
        }
    }

    &__block {
        @include clearfix();
        margin: 0 0 4rem;
        padding: 0 2rem;

        &--half {
            float: left;
            width: 50%;
        }

        h3 {
            display: block;
            font-weight: 500;
        }

        p {
            font-weight: 300;
            margin: 0;
        }
    }

    @include media(tablet) {
        .map {
            height: 35rem;
        }

        &__block {
            h3 {
                max-width: 30rem;
            }
        }
    }

    @include media(desktop) {
        padding: 10rem 0;

        .block-group {
            flex-direction: row;
        }

        .map {
            height: 45rem;
            margin: 0 7rem 0 0;
        }

        &__row {
            margin-bottom: 10rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__block {
            margin: 0;

            h3 {
                max-width: 35rem;
            }
        }
    }
}