body {
    background-color: $navy;
}

.row {
    @include clearfix();
}

.container {
    padding: 0 3rem;
}

.text-section {
    font-size: 1.6rem;
    padding: 8rem 0;

    &__title {
        color: $light-grey;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: .2em;
        line-height: 1;
        margin: 0 0 6rem;
        text-transform: uppercase;
    }

    h3 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        margin: 3rem 0;
    }

    ul {
        margin: 4rem 0;
    }

    li, p {
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.intro {
    margin: 6rem 0;

    h3 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
    }

    h4 {
        font-size: 1.8rem;
        line-height: 1.6;
    }
}

@include media(tablet) {
    .intro {
        h3 {
            font-size: 2.2rem;
        }

        h4 {
            font-size: 2rem;
        }
    }
}

@include media(desktop) {
    .container {
        padding: 0 80px 0 200px;
    }

    .text-section {
        font-size: 2rem;
        padding: 12rem 0;

        &__title {
            position: relative;

            &::before {
                content: '';
                background: $gold;
                bottom: 0;
                display: block;
                height: 1px;
                left: -11rem;
                margin: auto;
                position: absolute;
                top: 0;
                width: 9rem;
            }
        }

        h3 {
            font-size: 2.4rem;
            margin: 2rem 0;
        }

        ol {
            margin-left: 4.5rem;
        }

        li {
            font-size: 2rem;

            &::before {
                left: -4.5rem;
            }

            &:first-child::before {
                left: -4rem;
            }
        }

        p {
            font-size: 2rem;
        }
    }

    .intro {
        margin: 10rem 0 8rem;

        h3 {
            font-size: 2.4rem;
            margin: 0 0 4rem;
        }

        h4 {
            font-size: 2.2rem;
            margin: 0;
        }
    }
}

@include media(large-desktop) {
    .text-section {
        h3 {
            font-size: 2.8rem;
        }

        li {
            font-size: 2.4rem;
        }
    }

    .intro {
        h3 {
            font-size: 2.8rem;
        }

        h4 {
            font-size: 2.4rem;
        }
    }
}
