.enquiry {
    padding: 8rem 0;

    .text-section {
        margin: 0 0 10rem;
        padding: 0;

        &__title {
            line-height: 1.4;

            & + p {
                font-weight: 500;

                & + .block--fill-left {
                    display: none;
                }
            }
        }
    }
}

@include media(tablet) {
    .enquiry {
        .text-section {
            margin: 0 0 6rem;
            
            &:last-of-type {
                .form-item {
                    width: 100%;
                }
            }
        }
    }
}

@include media(desktop) {
    .enquiry {
        padding: 12rem 0;

        .text-section {
            margin: 0 0 8rem;

            &:last-of-type {
                .form-item {
                    width: 66.666%;
                }
            }

            &__title {
                line-height: 1;

                & + p {
                    margin-bottom: 10rem;
                    max-width: 35rem;

                    & + .block--fill-left {
                        display: block;
                    }
                }
            }
        }
    }
}

@include media(large-desktop) {
    .enquiry {
        .text-section {
            &:last-of-type {
                .form-item {
                    width: 33.333%;
                }
            }
        }
    }
}
