.inventory {
    padding-bottom: 10rem;
    
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;

        .message {
            color: $gold;
            display: block;
            font-size: 1.6rem;
            padding: 0 1rem;
        }
    }

    &__item {
        height: 24rem;
        margin: 0 0 2rem;
        padding: 0 1rem;
        width: 100%;
    }
}

@include media(tablet) {
    .inventory {
        &__item {
            width: 50%;
        }
    }
}

@include media(desktop) {
    .inventory {
        &__item {
            width: 33.333%;
        }
    }
}