.about {
    .block--fill-left {
        display: none;
    }
}

.services {
    .block-group {
        margin-bottom: 6rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.contacts {
    font-size: 1.6rem;
    padding-bottom: 32rem;
    position: relative;

    h3 {
        display: none;
    }

    p {
        line-height: 1.6;
    }

    .show-xs {
        .contact__block p {
            float: left;
            padding-right: 2rem;
        }
    }

    .map.show-xs {
        background: $gold;
        bottom: 0;
        height: 30rem;
        left: 0;
        position: absolute;
        right: 0;
    }
}

@include media(tablet) {
    .contacts {
        h3 {
            display: block;
        }
    }

    .contact {
        &__row {
            display: flex;
        }

        &__block {
            width: 50%;

            h3 {
                font-size: 2rem;
            }
        }
    }
}

@include media(desktop) {
    .about {
        margin-bottom: 12rem;
        padding-top: 15.5rem;

        .block--fill-left {
            display: block;
            margin-top: 10rem;
            max-height: 35rem;
            overflow-y: hidden;
        }
    }

    .services {
        .block-group {
            margin-bottom: 8rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .text-section__title {
            margin-bottom: 12rem;
        }
    }

    .contacts {
        padding-bottom: 0;

        .text-section__title {
            margin-bottom: 12rem;
        }

        .map.block--fill-left {
            background-color: $gold;
            height: 45rem;
            padding: 0;
        }
    }

    .contact {
        &__row {
            display: flex;
        }

        &__block {
            width: 50%;

            h3 {
                font-size: 2rem;
            }
        }
    }
}