.single-car {
    .block-group {
        display: flex;
        flex-direction: column-reverse;
    }
    
    &__details,
    &__technical {
        .text-section__title {
            margin: 0 0 4rem;
        }

        p {
            align-items: center;
            display: flex;
            font-size: 1.6rem;
            font-weight: 500;
            margin: 0 0 2.8rem;
        }

        ion-icon, .icon, span:first-child {
            color: $gold;
            margin-right: .8rem;
        }

        span:last-child {
            color: $white;
        }
    }

    &__details {
        padding: 0 0 6rem;
    }

    &__technical {
        padding-top: 0;

        p {
            display: block;
            line-height: 1.6;

            span {
                display: block;
            }
        }
    }

    #price {
        span:first-child {
            margin-right: 1rem;
        }
    }

    &__title-bar {
        margin: 9.5rem 0 6rem;

        h1 {
            font-size: 2.8rem;
        }

        &__finance {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .button {
                line-height: 1.2;
            }

            .inventory__item__price {
                min-width: 13rem;
                margin: 0 0 0 2rem;

                span:first-child {
                    font-size: 2.5rem
                }

                span:last-child {
                    font-size: 1.6rem;
                }
            }
        }
    }

    &__content {
        font-size: 1.8rem;
        font-weight: 300;
        margin: 0 0 8rem;

        p {
            font-size: inherit;
        }
    }

    &__gallery {
        margin: 0 0 14rem;

        img {
            display: block;
        }

        &__item {
            img {
                height: auto;
                max-width: none;
                width: 100%;
            }
        }

        &__main {
            width: 82%;

            img {
                height: 100%;
                max-width: none;
                width: 100%;
            }
        }

        &__thumbs {
            width: 18%;

            &__item {
                background-position: center;
                background-size: cover;
                cursor: zoom-in;
                opacity: .6;
                position: relative;
                transition: $transition;
                width: 100%;

                &::after {
                    content: '';
                    display: block;
                    padding-bottom: 100%;
                }

                &:hover,
                &:active {
                    opacity: .95;
                }
            }
        }

        &.lSSlideOuter {
            .lSPager {
                &.lSGallery {
                    li {
                        opacity: .5;
                        transition: $transition;

                        &.active,
                        &:hover {
                            border-radius: 0;
                            opacity: .9;
                        }
                    }
                }
            }
        }
    }
}

@include media(tablet) {
    .single-car {
        .sidebar {
            display: flex;

            & > * {
                width: 33.333%;
            }
        }
    }
}

@include media(desktop) {
    .single-car {
        .block-group {
            flex-direction: row;

            .block-6 > * {
                max-width: 96rem;
            }
        }

        &__title-bar {
            align-items: center;
            display: flex;
            justify-content: space-between;

            h1 {
                line-height: 1;
                margin: 0;
            }

            &__finance {
                justify-content: flex-end;

                .button {
                    line-height: 1;
                }

                .inventory__item__price {
                    margin: 0 0 0 4rem;

                    span:first-child {
                        font-size: 3.2rem;
                    }

                    span:last-child {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        &__details {
            padding: 8rem 0 14rem;
        }

        .sidebar {
            display: block;

            & > * {
                width: auto;
            }
        }
    }
}