.button {
    background: $gold;
    border: 0;
    color: $navy;
    display: inline-block;
    font-family: $body-font;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .2em;
    line-height: 1;
    padding: 1.2rem 1.8rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition;

    &:hover,
    &:active {
        background-color: darken($gold, 8%);
        color: $navy;
    }

    &--small {
        font-size: 1.8rem;
        padding: .5em 1.2em .55em;
    }

    &--large {
        font-size: 2rem;
        margin: 0 auto 1rem;
        padding: .5em 1.5em .6em;

        @media (min-width: 1200px) {
            font-size: 2.4rem;
            padding: .7em 2em .8em;
        }
    }

    &-group {
        text-align: center;

        .button {
            margin: 0 auto 1rem;
            width: 100%;

            @media (min-width: 768px) {
                font-size: 1.5rem;
                margin: 0 1.5em;
                padding: 1.1rem;
                width: 20rem;
            }
        }
    }
}