form {
    margin: 0;
}

.form-part {
    margin-bottom: 6rem;
    
    @include media(tablet) {
        @include clearfix();
        margin: 0 -1rem;
    }
}

.form-item {
    margin-bottom: 2.5rem;
    position: relative;

    @include media(tablet) {
        // float: left;
        margin-bottom: 3rem;
        // padding: 0 1rem;
        // width: 50%;
    }

    @include media(desktop) {
        margin-bottom: 5.5rem;
        // width: 33.333%;
    }

    &.error {
        input {
            outline: 3px solid tomato;
        }
    }

    .message,
    span.wpcf7-not-valid-tip {
        bottom: -2rem;
        color: tomato;
        margin: 0;
        position: absolute;
    }

    .help {
        font-size: 1.4rem;
    }

    .checkbox-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0 4rem;

        label {
            font-weight: 400;
        }

        & + p {
            font-size: 1.4rem;
            font-weight: 500;

            @include media(tablet) {
                font-size: 1.6rem;
            }
        }
    }

    .wpcf7-form-control-wrap {
        position: initial;
    }

    span.wpcf7-list-item {
        margin: 0;
    }

    label {
        font-size: 1.6rem;
        font-weight: 500;

        a {
            color: rgba($light-grey, .7);

            &:hover,
            &:active {
                color: $light-grey;
            }
        }

        @include media(desktop) {
            font-size: 1.8rem;
        }
    }

    .button {
        font-size: 2rem;
        padding: 2rem;
        width: 100%;
    }
}

label,
input {
    display: block;
}

label {
    margin-bottom: 1rem;
    white-space: nowrap;
}

input {
    -webkit-appearance: none;        
    -moz-appearance: none;
    border: 0;
    border-radius: 0;
    color: $black;
    font-size: 1.6rem;
    line-height: 1;
    padding: 1.6rem;
    width: 100%;

    &:focus {
        outline: 3px solid $gold;
    }
}

input.custom-checkbox,
span.custom-checkbox {
    background-color: $light-grey;
    border-radius: 20%;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    height: 2.5rem;
    padding: 0;
    width: 2.5rem;

    &:focus {
        outline: 0;
    }

    &.checked {
        background-image: url('../images/checkmark.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.5rem 1.1rem;
    }

    & + .wpcf7-list-item-label,
    .wpcf7-list-item-label {
        display: none;
    }
}

.checkbox-wrapper label,
.custom-checkbox + label {
    color: $light-grey;
    font-size: 1.4rem;
    letter-spacing: normal;
    margin: 0;
    padding-left: 1.5rem;
    text-transform: none;
    white-space: normal;

    @include media(desktop) {
        font-size: 1.6rem;
    }
}

.checkbox-wrapper {
    .wpcf7-not-valid-tip {
        padding-left: 4rem;
    }
}

div.wpcf7-response-output,
div.wpcf7-validation-errors, 
div.wpcf7-acceptance-missing {
    background: rgba($black, .5);
    border: 0;
    bottom: 0;
    color: $white;
    font-size: 1.4rem;
    left: 0;
    margin: 0;
    padding: 2rem;
    position: fixed;
    right: 0;
    width: 100%;

    &.wpcf7-mail-sent-ok {
        background: rgba(#d29e44, .95);
        box-shadow: 0 0px 14px rgba($black,.15);
        font-size: 16px;
        height: 120px;
        line-height: 100px;
        margin: auto;
        padding: 10px;
        text-align: center;
        top: 0;
        width: 95%;

        @include media(tablet) {
            font-size: 26px;
            height: 200px;
            line-height: 140px;
            padding: 30px;
            width: 580px;
        }

        @include media(desktop) {
            width: 640px;
        }
    }
}