@include media(desktop) {
    .block-group {
        display: flex;
        margin-left: -2rem;
        margin-right: -2rem;
    }
    
    [class^="block-"]:not(.block-group) {
        padding: 0 2rem;
        position: relative;
    }

    .block {
        &-1 {
            flex-grow: 1;
            flex-shrink: 7;
            width: (100 / 8) * 1%;
        }

        &-2 {
            flex-grow: 2;
            flex-shrink: 6;
            width: (100 / 8) * 2%;
        }

        &-3 {
            flex-grow: 3;
            flex-shrink: 5;
            width: (100 / 8) * 3%;
        }

        &-4 {
            flex-grow: 4;
            flex-shrink: 4;
            width: (100 / 8) * 4%;
        }

        &-5 {
            flex-grow: 5;
            flex-shrink: 3;
            width: (100 / 8) * 5%;
        }

        &-6 {
            flex-grow: 6;
            flex-shrink: 2;
            width: (100 / 8) * 6%;
        }

        &-7 {
            flex-grow: 7;
            flex-shrink: 1;
            width: (100 / 8) * 7%;
        }

        &-8 {
            flex-grow: 8;
            flex-shrink: 0;
            width: 100%;
        }

        &--fill-left,
        &--fill-right {
            position: absolute !important;
            width: auto;
        }

        &--fill-left {
            left: -20rem;
            right: 4rem;
        }

        &--fill-right {
            left: 4rem;
            right: -8rem;
        }
    }
}

