@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin cover {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@mixin media($name) {    
    @if $name == "tablet" {        
        @media (min-width: 768px) {            
            @content;        
        }    
    }    
    @else if $name == "desktop" {        
        @media (min-width: 1200px) {            
            @content;        
        }    
    }    
    @else if $name == "large-desktop" {        
        @media (min-width: 1400px) {            
            @content;        
        }    
    }
}