table {
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    font-size: 1.6rem;

    tr {
        border-bottom: 1px dashed $white;

        &:last-child {
            border-bottom: 0;
        }
    }

    td {
        padding: 1.5rem 1rem;
    }
}