h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: $heading-font;
    font-weight: 400;
    line-height: 1.25;
    margin: 1.15em 0;
}

h1, .h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;

    @media (min-width: 768px) {
        font-size: 3.4rem;
    }

    @media (min-width: 1200px) {
        font-size: 4.6rem;
    }
}

h2, .h2 {
    font-size: 1.8rem;

    @media (min-width: 768px) {
        font-size: 2rem;
    }

    @media (min-width: 1200px) {
        font-size: 2.8rem;
    }
}

h3, .h3 {
    font-size: 1.6rem;

    @media (min-width: 768px) {
        font-size: 1.8rem;
    }

    @media (min-width: 1200px) {
        font-size: 2.6rem;
    }
}

h4, .h4 {
    font-weight: 300;
    font-size: 1.6rem;

    @media (min-width: 768px) {
        font-size: 1.8rem;
    }

    @media (min-width: 1200px) {
        font-size: 2.4rem;
    }
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: .02em;
    margin-bottom: 2em;
    text-align: left;

    @media (min-width: 768px) {
        font-size: 1.6rem;
    }

    @media (min-width: 1200px) {
        font-size: 2rem;
    }
}

ul, ol {
    font-weight: 300;
    line-height: 1.6;

    li {
        margin: 0 0 2rem;
    }
}

ol {
    counter-reset: section;
    list-style-type: none;
    margin-left: 3.3rem;
    padding: 0;
    position: relative;

    li {
        &::before {
            counter-increment: section; 
            content: counters(section, "") " | ";
            color: $gold;
            left: -3.3rem;
            letter-spacing: 2px;
            position: absolute;
            text-align: right;
        }
    }
}