// Typography
$montserrat: 'Montserrat', Helvetica, sans-serif;

$heading-font: $montserrat;
$body-font: $montserrat;

// Colors
$white: #fff;
$black: #000;
$gold: #d9ad61;
$navy: #1f2a52;
$dark-grey: #4c5575;
$light-grey: #e6e6e9;
$almost-black: #15171f;

$transition: all .5s cubic-bezier(.6, .05, .1, .99);

$sl-overlay-background: $navy;
$sl-navigation-color: $white;
