html, body {
    color: $white;
    font-family: $body-font;
    font-size: 10px;
}

.center-text {
    text-align: center;
}

.text-right {
    text-align: right;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    transition: $transition;
}

img {
    max-width: 100%;
}

.row {
    @include clearfix();
}

.noscroll {
    overflow: hidden;
}

.sl-overlay {
    opacity: .85;
}

.hide-xs {
    display: none !important;

    @include media(tablet) {
        display: initial !important;
    }
}

.hide-md {
    @include media(tablet) {
        display: none !important;
    }

    @include media(desktop) {
        display: initial !important;
    }
}

.show-xs {
    @include media(tablet) {
        display: none !important;
    }
}

.show-md {
    @include media(tablet) {
        display: initial !important;
    }

    @include media(desktop) {
        display: none !important;
    }
}

.arrow {
    height: 3.1rem;
    position: relative;

    &::before {
        content: '';
        background: $gold;
        bottom: 0;
        display: block;
        height: 2px;
        margin: auto;
        position: absolute;
        right: 1px;
        top: 3px;
        width: 100%;
    }

    svg {
        height: 100%;
        float: right;
        padding: 8px 0 4px;
    }
}

/* Cookie consent */
#cookie-notice .cookie-notice-container {
    padding: 20px;
   
    & > span {
        font-size: 15px;
        line-height: 1.5;
    }

    .button.cn-button {
        display: block;
        font-size: 16px;
        height: 40px;
        line-height: 18px;
        margin: 20px auto 0;
        padding: 10px;
        width: 80px;
    }

    @include media(tablet) {
        align-items: center;
        display: flex;
        justify-content: space-between;

        & > span {
	    padding-right: 40px;
            text-align: left;
        }

        .button.cn-button {
            margin: 0;
        }
    }
}

