<div class="form-part">
    <div class="form-item">
        <label for="first-name">Vārds<sup>*</sup></label>
        [text* first-name id:first-name]
    </div>

    <div class="form-item">
        <label for="last-name">Uzvārds<sup>*</sup></label>
        [text* last-name id:last-name]
    </div>

    <div class="form-item">
        <label for="tel">Telefona nr.<sup>*</sup></label>
        [text* tel id:tel]
    </div>

    <div class="form-item">
        <label for="email">E-pasts<sup>*</sup></label>
        [email* email id:email]
    </div>

    <div class="form-item">
        <label for="link">Sludinājuma saite</label>
        [url link id:link]
    </div>
</div>

<div class="form-part">
    <div class="form-item">
        [honeypot confirm-email]
    <button type="submit" class="button button--submit">Pieteikties</button>
        <div class="checkbox-wrapper">
            [checkbox* agreement id:agreement class:custom-checkbox "true"]
            <label for="agreement">
                Piekrītu personīgo datu apstrādei un apstiprinu ievadīto datu patiesumu
                <a href="/privatuma-politika" target="_blank">(Uzzināt vairāk)</a>
            </label>
        </div>
    </div>
</div>