.filters {
    form {
        background: $white;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0 0 4rem;
        padding: 1.2rem;
        width: 100%;
    }

    .nice-select {
        border-radius: 0;
        border: 0;
        color: $almost-black;
        padding: 0 4.5rem 0 2rem;

        &::after {
            right: 2rem;
        }

        &:last-of-type {
            border: 0;
        }

        .option {
            margin: 0;

            &.focus,
            &.selected.focus,
            &:hover {
                background-color: $light-grey;
            }

            &.selected {
                font-weight: 500;
            }
        }

        .list {
            border-radius: 0;
            width: 100%;
        }
    }

    button {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-color: $gold;
        border: 0;
        border-radius: 0;
        height: 5.4rem;
        margin: 1rem 0 0;
        position: relative;
        transition: $transition;
        width: 100%;

        &:hover,
        &:active {
            background-color: darken($gold, 8%);
        }

        ion-icon, .icon {
            @include cover();
            color: $navy;
            font-size: 3.2rem;
            height: 3.6rem;
            margin: auto;
        }
    }
}

.sorting {
    margin: 0 0 4rem;

    .block-4 {
        margin: 2rem 0;
    }
    
    p {
        font-size: 1.6rem;
        margin: 0;

        &.text-right {
            @include clearfix();

            .nice-select {
                background: none;
                border: 0;
                float: left;
                height: auto;
                line-height: 1;
                padding-left: 0;

                &::after {
                    border-color: $white;
                }

                .option {
                    color: $almost-black;
                    margin: 0;

                    &.selected {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@include media(tablet) {
    .filters {
        form {
            flex-direction: row;
            height: 8rem;
        }

        .nice-select {
            border-right: 1px solid rgba($dark-grey, .5);
            width: 25%;
        }

        button {
            margin: 0;
            width: 5.4rem;
        }
    }

    .sorting {
        .block-group {
            display: flex;
        }

        .block-4 {
            margin: 0;
            width: 50%;
        }

        p {
            &.text-right {
                .nice-select {
                    float: right;
                    padding: 0 3.2rem 0 2rem;
                }
            }
        }
    }
}