.footer {
    background-color: $black;
    padding: 4rem 0;

    p {
        font-size: 1.5rem;
        margin: 0 0 .75em;
        text-align: center;

        &:last-child {
            margin: 0;
        }
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

@include media(tablet) {
    .footer {
        padding: 3rem 0;

        .container {
            display: flex;
            justify-content: space-between;
        }

        p {
            display: inline;
            font-size: 1.8rem;
            margin: 0;
        }

        /* If footer has more than one child item, remove this rule */
        p {
            flex-grow: 1;
        }
    }
}