.header {
    padding-top: 4rem;

    &--overlay {
        left: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 4rem;
        z-index: 2; 
    }
    
    .container {
        align-content: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .logo {
        display: block;
        height: 8rem;
        width: 6.3rem;
    }

    .menu-trigger {
        align-items: center;
        display: flex;
        position: relative;

        span {
            color: $light-grey;
            font-size: 1.8rem;
            font-weight: 500;
            margin-right: 1rem;
        }

        svg {
            height: 1.9rem;
            width: 2.4rem;

            path {
                fill: $gold;
            }
        }
    }

    .language {
        color: $white;
        float: right;
        font-family: $body-font;
        font-size: 1.8rem;
        margin-top: -1px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

@include media(desktop) {
    .header {
        .menu-trigger {
            display: none;
        }

        .logo {
            left: 65px;
            position: fixed;
        }
    }
}
