.hero {
    background: url('../images/bg--small.jpg') center no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    
    &__content {
        padding: 22rem 0 6rem;
        text-align: left;

        h1 {
            margin: 0 0 4rem;
        }
    }

    &__link {
        align-items: center;
        color: $light-grey;
        display: flex;
        font-size: 2rem;
        font-weight: 500;

        span {
            white-space: nowrap;
        }

        .arrow {
            margin: 0 0 0 2rem;
            transition: $transition;
            width: 6rem;
        }

        &:hover,
        &:active {
            color: $white;

            .arrow {
                width: 8rem;
            }
        }
    }
}

@include media(tablet) {
    .hero {
        background-image: url('../images/bg--large.jpg');
        
        .container {
            align-items: center;
            display: flex;
            min-height: 100vh;
            padding-top: 6rem;
        }

        &__content {
            padding: 0;
            width: 87.5%;
        }

        &__link {
            .arrow {
                width: 12rem;
            }

            &:hover,
            &:active {
                .arrow {
                    width: 14rem;
                }
            }
        }
    }
}

@include media(desktop) {
    .hero {
        .container {
            padding-top: 10rem;
        }

        &__content {
            width: 62.5%;

            h1 {
                font-size: 4rem;
                margin: 0 0 8rem;
            }
        }

        &__link {
            font-size: 2.4rem;

            .arrow {
                width: 14rem;
            }

            &:hover,
            &:active {
                .arrow {
                    width: 18rem;
                }
            }
        }
    }
}

@include media(large-desktop) {
    .hero {
        &__content {
            h1 {
                font-size: 4.8rem;
                margin: 0 0 10rem;
            }
        }

        &__link {
            font-size: 2.8rem;
        }
    }
}
