.inventory__item {
    background-color: $navy;
    position: relative;

    &__image {
        @include cover();
        background-position: center;
        background-size: cover;
        left: 1rem;
        opacity: .3;
        right: 1rem;
        transition: $transition;
    }

    &__info {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        height: 100%;
        justify-content: space-between;
        overflow: hidden;
        padding: 3rem;
        position: relative;
        transition: $transition;
        z-index: 2;
    }

    &__label {
        background-color:$gold;;
        color: $navy;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 10px;
        position: absolute;
        right: -55px;
        text-align: center;
        top: -20px;
        transform-origin: top left;
        transform: rotate(45deg);
        width: 120px;
        z-index: 1;
    }

    &__title {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    &__price {
        align-items: center;
        display: flex;
        margin: 0 0 1rem;

        span {
            &:first-child {
                font-size: 3.2rem;
                font-weight: 500;
            }

            &:last-child {
                font-size: 1.8rem;
                font-weight: 300;
                margin: 4px 0 0 5px;
            }
        }
    }

    &__details {
        span {
            &::after {
                content: ' | ';
                color: $gold;
            }

            &:last-child {
                &::after {
                    content: '';
                }
            }
        }
    }

    &:hover,
    &:active {
        .inventory__item__image {
            opacity: .95;
        }

        .inventory__item__info {
            opacity: 0;
        }
    }

    &__overlay {
        @include cover();
        background: rgba($navy, .4);
    }

    &--sold {
        &:hover,
        &:active {
            .inventory__item__image {
                opacity: .3;
            }

            .inventory__item__info {
                opacity: 1;
            }
        }
    }
}