/* The location pointed to by the popup tip. */
.popup-tip-anchor {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 20rem;

    @include media(desktop) {
        width: 25rem;
    }
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */ 15px;
    left: 0;
}
/* Draw the tip. */
.popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 15px high, and 20px wide. */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: /* TIP_HEIGHT= */ 15px solid $black;
}
/* The popup bubble itself. */
.popup-bubble-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the info window. */
    background-color: $black;
    box-sizing: border-box;
    color: $white;
    font-family: $body-font;
    height: 16.5rem;
    padding: 1.8rem 1rem;
    text-align: center;
    width: 20rem;

    @include media(desktop) {
        height: 19rem;
        padding: 2.5rem 1rem;
        width: 25rem;
    }

    svg {
        margin: 0 auto .8rem;
        width: 14rem;

        @include media(desktop) {
            width: 18rem;
        }
    }

    p {
        font-size: 1.5rem;
        margin: 0;
        text-align: center;

        @include media(desktop) {
            font-size: 1.6rem;
        }
    }
}

.gm-style-pbc {
    z-index: 12 !important;

    p.gm-style-pbt {
        text-align: center;
    }
}