.navigation {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: $transition;
    z-index: -1;
    
    &.open {
        opacity: 1;
        z-index: 10;
    }

    &__item {
        align-items: center;
        background-position: center;
        background-size: cover;
        color: $white;
        display: flex;
        flex-grow: 1;
        font-family: $body-font;
        font-size: 2.2rem;
        justify-content: center;
        position: relative;
        text-decoration: none;
        text-transform: lowercase;

        &::after {
            content: '';
            @include cover;
            transition: $transition;
        }

        &:first-child {
            background-image: url('../images/nav-1.jpg');
        }

        &:nth-child(2) {
            background-image: url('../images/nav-2.jpg');
        }

        &:nth-child(3) {
            background-image: url('../images/nav-3.jpg');
        }

        &:nth-child(4) {
            background-image: url('../images/nav-4.jpg');
        }

        &:nth-child(5) {
            background-image: url('../images/nav-5.jpg');
        }

        span {
            position: relative;
            z-index: 1;
        }
    }
}

.menu {
    display: none;

    &--mobile {
        @include cover();
        background-color: $gold;
        display: none;
        overflow-y: scroll;
        position: fixed;
        z-index: 100;

        &__wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            min-height: 55rem;
        }

        .menu__item {
            color: $navy;
            font-size: 2rem;
            font-weight: 500;
            padding: 2rem;

            &:active {
                background: darken($gold, 10%);
            }
        }

        .menu-close-trigger {
            display: block;
            height: 3.8rem;
            margin: 0 0 2rem;
            padding: 1rem;
            width: 3.8rem;
        }

        .menu__social {
            display: inline-block;
            font-size: 2.8rem;
            height: 5rem;
            padding: 1.6rem .8rem 1rem;
        }
    }
}

@include media(desktop) {
    .menu {
        align-items: center;
        color: $light-grey;
        display: flex;
        font-size: 2rem;
        font-weight: 500;
        height: 80px;
        width: 100%;

        &--mobile {
            display: none;
        }

        &__left {
            flex-grow: 6;
        }

        &__right {
            align-items: flex-start;
            display: flex;
            flex-grow: 2;
            height: 2.6rem;
            justify-content: flex-end;

            .menu__item {
                margin: 0 5rem;
            }
        }

        &__item {
            border-bottom: 1px solid transparent;
            color: inherit;
            margin: 0 5rem 0 0;
            padding-bottom: 12px;

            &--active,
            &:hover,
            &:active,
            &:focus {
                border-color: $gold;
                color: $white;
                padding-bottom: 8px;
            }
        }

        &__social {
            display: inline-block;
            height: 26px;
            vertical-align: middle;
            width: 26px;

            &:last-child {
                margin: 0 0 0 .8rem;
            }

            ion-icon, .icon {
                height: 100%;
                width: 100%;
            }
        }
    }
}